html {scroll-behavior: smooth;}
body{
    background: #fff;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Muli', sans-serif;
    line-height: 25px;
    overflow-x: hidden;
    padding-top: 60px;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: 400;
    font-family: 'Muli', sans-serif;
    text-transform: capitalize;
}
h1, .h1 {
    font-size: 48px; 
    font-style: inherit;
    line-height: 52px;
    color: #6bc449;
    font-weight: 700;
}
h2, .h2 {
    font-size: 40px; 
    line-height: 42px;
    color: #6bc449;
}

h3, .h3 {
    font-size: 35px;
    line-height: 40px;
}

h4, .h4{
    font-size: 20px; 
    line-height: 30px;
}

p,li {
    color: #444;
    font-size: 17px;
}
a {
    color: #444; 
    text-decoration: none; 
    transition: 0.3s;
    font-family: 'Muli', sans-serif;
}

button.bannerbtn2 {
    /*font-family: 'Abel', sans-serif;*/
    width: 170px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    border: none;
    background: #fff;
    cursor: pointer;
    border-radius: 20px;
}
button.bannerbtn2:hover {
    background: #53ba00;
    color: #fff;
}


#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #6bc449;
    cursor: pointer;
  }
  .topbtn button:hover{
      background: #000;
      color: #fff;
  }
/*--------section header start---------*/

.nav-link{
    text-transform: uppercase;
    color: #000;
    font-size: 14px;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #6bc449 !important;
}

@media only screen and (max-width: 600px) {
   .home_nav{
     padding-left: 25px;
   }
}

.navbar {
    padding: 0;
}

.bg-color{
    background: #111213;
    border-bottom: 3px solid #6bc449;
  }
  

/*--------section header end---------*/

/*--------section banners start---------*/


.btn-common {
    background-color: #6bc449;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    color: #fff;
}

.btn {
    font-size: 14px;
    padding: 10px 30px;
    cursor: pointer;
    font-weight: 400;
    color: #fff;
    border-radius: 30px;
    display: inline-block;
}

.btn-common:hover {
    color: #fff;
    background-color: #222;
    box-shadow: 0 6px 22px rgba(0,0,0,.1);
}

.banner-text{
    padding-top: 60px;
}
/*--------section banners end---------*/

.client-data h4{
    font-size: 25px;
}

.services-item .icon1 i {
    font-size: 50px;
    color: #6bc449;
    margin-bottom: 1rem;
}

.services-item {
    background: #fff;
    margin: 15px 0;
    padding: 30px;
    border-radius: 4px;
    text-align: left;
    box-shadow: 0 0 40px 0 rgba(0,0,0,.1);
    height:90%;
}

.bottom-img{

    position: absolute;
    right: 110px;
    bottom: 0%;
    height: 103%;
    z-index: -1;
}

.earn{
    padding-top: 200px;
}

/*--------section testimonials start---------*/
.testimonial{
    padding: 0 15px;
}
.testimonial-review{
    background-color: #ffffff;
    border-radius: 10px;
    padding: 23px 35px 40px;
    position: relative;
    text-align: left;
}
.testimonial-review:before{
    content: "";
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #fff;
    position: absolute;
    top:100%;
}
.testimonial-review > p{
    color:#777;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 25px;
}
.pic{
    margin-top: 30px;
}
.pic img{
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}
.testimonial-title{
    margin-top: 30px;
    color:#000;
    font-weight: 700;
    display: inline-block;
    text-transform: capitalize;
}
.testimonial-title small{
    display: block;
    margin:5px 0 20px 0;
    color:#000;
}
.owl-theme .owl-controls{
    margin-top: 30px;
}
.owl-theme .owl-controls .owl-page span{
    width: 10px;
    height: 10px;
    background: #fff;
    border: 1px solid transparent;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
    background: #6bc449;
    border: 1px solid #fff;
}
@media screen and (max-width: 990px){
    .testimonial{
        padding: 0;
    }
}
/*--------section testimonials end---------*/

.get-benefits{
    background: linear-gradient(90deg,rgb(71, 194, 91) 0%,#57e216 100%);
    color: #fff;
}

.get-benefits h2{
color: #fff;
}

.newbanner{
    background-image: url(images/banner-new.jpg);
    width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a.noaccount{
    text-decoration: none;
    color: #6bc449;
}

.footcolor p{
    color: #6bc449;
}

.footcolor i{
    color: #6bc449;
}

.sidenav {

  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1099; /* Stay on top */
  top: 0;
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 30px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */

}

/* Position and style the close button (top right corner) */

.sidenav .closebtn {

  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;

}

.error{
    color:red;
}

@media screen and (max-width: 990px){

    .banner-text{
        padding-top: 5px;
    }

    .bottom-img {
        position: absolute;
        right: 152px;
        bottom: 0%;
        height: 103%;
        z-index: -1;
    }

    .earn {
        padding-top: 60px;
    }

   
}

@media screen and (max-width: 600px){
    h1, .h1 {
        font-size: 38px; 
        font-style: inherit;
        line-height: 38px;
        color: #6bc449;
        font-weight: 600;
    }
    h2, .h2 {
        font-size: 30px; 
        line-height: 32px;
        color: #6bc449;
    }

    h3, .h3 {
        font-size: 25px;
        line-height: 30px;
    }
    

.banner-text{
    padding-top: 2px;
}

.top-image{
    max-width: 65%;
}

.bottom-img {
    position: absolute;
    right: 5px;
    bottom: 0%;
    height: 103%;
    z-index: -1;
}



.earn {
    padding-top: 60px;
}

}
 
